<ion-header>

  <ion-navbar>

    <ion-buttons start>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>EVENT</ion-title>
  </ion-navbar>
</ion-header>


<ion-content text-center>
  <!-- <ion-list *ngFor="let event of events">
    <ion-item>
      <h2>{{event.eventName}}</h2>
      <h3>{{event.description}}</h3>
    </ion-item>
  </ion-list> -->

  <ion-card *ngFor="let event of events; let i = index" (click)="detailEvent(event)">
    <!-- <ion-card-sliding> -->
      <ion-card-content>
        <ion-card-title style="text-align:left">
            {{event.eventName}}
        </ion-card-title>
          <h3 style="text-align:left">Description: {{event.description}}</h3>
          <!--<ion-card-options side="right">
            <button ion-button color="secondary">
              <ion-icon name="text"></ion-icon>
              Detail
            </button>
            <button ion-button color="danger" (click)="removeItem(event)">
              <ion-icon name="trash"></ion-icon>
              Delete
            </button>
          </ion-card-options> -->
      </ion-card-content>
    <!-- </ion-card-sliding> -->
    <ion-row>
        <ion-col>
          <button ion-button clear small color="secondary" icon start>
            EDIT
          </button>
        </ion-col>
        <ion-col>
          <button ion-button clear small color="danger" icon-start>
            DELETE
          </button>
        </ion-col>
      </ion-row>
  </ion-card>
  
  <ion-fab right bottom>
    <button ion-fab mini class="addButton" (click)="newEvent()">+</button>
  </ion-fab>
  
</ion-content>